{{#rentals/list-filter filter=(action 'filterByCity') as |filteredResults| }}
  <ul class="results">
    {{#each filteredResults as |rentalUnit| }}
      <li>{{rentals/rental-listing rental=rentalUnit}}</li>
    {{/each}}
  </ul>
{{/rentals/list-filter}}
