<div class="container" style="padding-left:0; padding-right:0;">
  <div class="menu" style="height:auto;">
    {{#link-to 'index'}}
      <h1>
         <em>SuperRentals</em>
      </h1>
    {{/link-to}}
    <div class="links">
      {{#link-to 'about'}}
        About
      {{/link-to}}
      {{#link-to 'contact'}}
        Contact
      {{/link-to}}
    </div>
  </div>
  <div class="body">
    <div id="destination"></div>
    {{liquid-outlet}}
  </div>
</div>
